*{
    font-family: 'Roboto', sans-serif;
}
.container{
    width:80%;
    margin: 0;
    padding: 0;
    margin: auto;
}
.menu-bar{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.logo{
    display: inline-block;
    margin-right: 35px;
}
.logo img{
    width: 116px;
}
.language{
    align-items: center;
    justify-content: center;
    padding-right: 30px;
    border-right: 1px solid #000;
}

.menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
    list-style-type: none;
}

.menu ul li a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-transform: uppercase;
}
.menu-right{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
}
.signin{
    text-decoration: none;
    color: #FD5631;
    font-size: 16px;
    font-weight: 600;
}
.btn.btn-primary{
    background-color: #FD5631;
    color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
}

/* Hero section */

.hero{
    margin-top: 40px;
    background-image: url(../img/hero.png);
    height: 640px;
    background-size: cover;
}

.hero .title{
    width: 50%;
    font-size: 60px;
    padding-top: 75px;
}
.hero .subtitle{
    width: 50%;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
}

/* features */
.features{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.feature{
    width: 195px;
    height: 135px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0px 16px 2px rgb(0 0 0 / 9%);
    padding-top: 20px;
    display: block;
}

.feature:hover{
    box-shadow: 0 0px 16px 10px rgb(0 0 0 / 25%);
}
.feature:hover .icon{
    background-color: #FD5631;
    color: #fff;
}

.feature .icon{
    width: 50px;
    height: 50px;
    background-color: rgb(253 86 49 / 10%);
    color: #FD5631;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.feature .title{
    text-decoration: none;
    color: #000;
}
